
.font-bebasnav{
font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100;
}
.font-internav{
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-variant: normal;
}
.uni-color-green{
    color:#7ed956
}

/* Navigation Bar */
.navbrand-logopic{
   width: 60px;
   transition: .5s;
   margin-top: -10px;

}
.navbrand-logo-color{
    color:white;
    font-size: 25px;
    transition: .5s;
}
.nav-link-edit{
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    transition: .5s;
    
}
.nav-link-edit:hover,
.nav-link-edit.active{
    color:#7ed956;
    
}
.mpHeadline{
    padding-top: 75px;
}
.topbg-home{
    background-image: url(background/jack-b-ombUn7ergE4-unsplash.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
header{
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    transition: 0.6s;
    position: 40px 100px;
    z-index:100000 ;
}
header.sticky{
    padding: 0px 35px;
    background: #fff
}
header.sticky ul li a{
    color: black ;
}
header.sticky a img{
   
width: 40px;
height: 40px;
margin-top: 0px;

}
header.sticky .navbrand-logo-color{
    font-size: 20px;
    color: black;
}

.navbar-nav .open ul.dropdown-menu{ 
    border-radius:0px; 
    border:solid 1px red; 
    border-width:1px 0;
}
.nav-item hr{
    display: none;
}
.navbar{
    background-color:transparent;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030; /* Ensure it is above other content */
  }
  
  .sticky + .content {
    padding-top: 56px; /* Adjust for the height of the navbar */
  }


/* Headline of the Page */
  .pictureport{
    width: 530px;
    height: auto;
    display: inline;
    position: relative;
    transition: .2s;
    padding-top: 5px;
}
.pictureport:hover{
    transform: translateY(-5%) scale(1.1);
}
.circle-for-pic{
    position: relative;
    display: inline-block;
}
.circle-for-pic:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%; 
    width: 135% ; 
    height: 125%; 
    border-radius: 40%; 
    background: url(background/bgimage.jpg) no-repeat center center;
    background-size: cover;
    filter: blur(2px) brightness(35%);
    clip-path: inset(0 0 20% 0); 
    transform: translateX(-50%); 
    border: 10px solid rgba(0, 0, 0, .1); 
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
.circle-for-pic:hover:before{
    opacity: 1; 
    
}

.headlineh1-Text{
  font-family: "Rubik",sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  color: white;
  font-size:50px;
  font-style: normal;
  letter-spacing: 1px;

}
.headlineh4-Text{
  font-family: "Rubik",sans-serif;
    color: white;
    letter-spacing: 4px;
    font-size: 15px;
    font-weight: 600;
}
.headlineh2-Text{
  color:white;
  font-family: "Rubik",sans-serif;
}

.button-hire{
  font-family: "Inter",system-ui;
  font-size: 17px;
  font-weight: 600;
  padding: 13px 25px ;
  background-color: #7ed956 ;
  color: white;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius:10px;
  letter-spacing: 4px;
  transition: .3s;
}
.button-works{
  font-family: "Inter",system-ui;
  font-size: 17px;
  font-weight: 600;
  padding: 13px 25px ;
  background-color:black;
  color: white;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid white;
  border-radius:10px;
  letter-spacing: 2px;
  transition: .3s;
}
.button-hire:active{
  transform: scale(.92);
  background-color: #1d5207;
  border: none;
}
.button-works:active{
  transform: scale(.92);
  background-color: #ffffff;
  color: black;
}
.button-hire:hover{
  opacity: 90%;
}
.button-works:hover{
  opacity: 84%;
}



  .test{
    min-height: 100vh;
    display: flex;
    background:grey;
    align-items: center;
    justify-content: center;
  }



/* About section of the page */
  .about-section{
    background-color: white;
    padding-top: 50px;
  }
  .h1-sections{
    position: absolute;
    z-index: 0;
    font-size:8vw;
    color: rgba(0,0,0, 0.1);
    font-family: "Rubik",sans-serif;
    font-weight: 900;
    

  }
  .h2-sections{
    background: url(background/cesar-couto-Z83CMY9ho-I-unsplash.jpg);
    background-size: cover;
    filter: brightness(60%);
    background-position: center;
    font-size: 4.6rem;
    font-family: "Rubik",sans-serif;
    font-weight: 900;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
    text-align: center;
    z-index: 1;
  }
  .about-info-p{
    text-align: left;
    font-size: 1.1rem;
    font-weight: 400;
    font-family: "Rubik", sans-serif;
  }
  .about-pic{
    border-radius: 100%;
    width: 200px;
    object-fit: cover;
  }
.intro-about, .more-info-about{
  margin: 75px 10px 5px 5px;
}
.more-info-about h3{
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
  width:  60% ;
  letter-spacing: .1rem;
  font-size: 1.4rem;
}
.info-list{
  list-style: none;
  margin-bottom: 4.2rem
}
.info-list li{
  padding: 0 0 1.5rem 0;
  margin-bottom: .6rem;
}
.info-list li strong{
  font-family: "Rubik", sans-serif;
  color: #313131;
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-size: 1.2rem;
  line-height: 3rem;
}
.info-list li span{
  display: block;
  font-family: "Rubik",sans-serif;
    color: #888888;
    font-size: 1.1rem;
    line-height: 1;
}
.button-cv{
  text-decoration: none;
}
a.button-cv button{
  background-color: black;
  letter-spacing: 4px;
  border: none;
  font-family: Inter;
  text-transform: uppercase;
  font-weight: bold;
  font-size:17px;
  border-radius: 15px;
  padding: 20px 30px;
  color: white;
  display: block;
  margin: 40px  auto;
  transition: .4s;
}
a.button-cv button:hover{
  opacity: 85%;
}
a.button-cv button:active{
  transform: scale(.9);
  color: black;
  border: 1px solid black;
  background-color: white;
}
.skills-row h5{
  font-family: "Rubik", sans-serif;
  color: #313131;
  text-transform: uppercase;
  letter-spacing: .1rem;
  line-height: 1.5;
  font-size: 1.1rem;
}
.skills-row ul li{
  font-family: "Rubik",sans-serif;
    color: #888888;
    font-size: 1.1rem;
    line-height: 2.5;
}
/* Credentials section of the page */
.credentials-section{
background-color: #ebebeb;
padding-top: 50px;
font-family: "Rubik",sans-serif;
}
.timeline{
  position: relative;
  max-width: 1200px;
  margin: 50px auto;
  z-index: 1;
}
.timeline::after{
  content: '';
  position: absolute;
  width:6px;
  height: 100%;
  background: #fff;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
  animation: moveline 3s linear forwards;
}
@keyframes moveline{
  0%{
    height:0;
  }
  100%{
    height:100%;
  }
}


.timeline-container:nth-child(1){
  animation-delay:0s ;
}
.timeline-container:nth-child(2){
  animation-delay:1s ;
}
.timeline-container:nth-child(3){
  animation-delay:2s ;
}

.timeline-container{
  padding: 10px 50px;
  position: relative;
  width:50%;
  animation: movedown 1s linear forwards;
  opacity: 0;
}
@keyframes movedown{
  0%{
    opacity: 1;
    transform: translateY(-30px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}


.text-box{
  padding: 20px 30px;
  background: #fff;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
}
.text-box h2{
  font-weight: 600;
}
.text-box small{
  display: inline-block;
  margin-bottom: 15px;
}
.text-box ul{
  list-style: none;
  font-size: 17.5px;
}
.left-container{
  left:0;
}
.right-container{
  left:50%;
}
.timeline-container img{
  position: absolute;
  width:40px;
  border-radius: 50%;
  right:-20px;
  top:32px;
  z-index: 10;
}
.right-container img{
  left: -20px;
}
.left-container-arrow{
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom:15px solid transparent ;
  border-left: 15px solid white;
  right: -15px;
}
.right-container-arrow{
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom:15px solid transparent ;
  border-right: 15px solid white;
  left: -15px;
  
}
/* Mobile View */
@media (max-width: 992px) {
    .mpHeadline{
        padding-top:120px
    }
    .nav-item hr {
      display: block;
      border: 1px solid white;
      margin: 0.5rem 0; 
    }
    .circle-for-pic{
      margin-top: 20px;
    }
    .about-pic{
      margin-bottom: 30px;
    }
    
    header.sticky .nav-item hr {
        display: block;
        border: 1px solid black;
        margin: 0.5rem 0;
      }
    .nav-link-edit{
        color: white;
        padding-bottom: 5px;
    }
      header.sticky ul li a{
        color: black ;
    }
    header{
        background:url(background/jack-b-ombUn7ergE4-unsplash.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        transition: .5s;
    }
    .custom-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(126, 217, 86, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      }
      
    .custom-toggler.navbar-toggler{
        border-color: #7ed956;
    }
  }

  @media screen and (max-width:600px) {
    .timeline{
      margin:50px auto;
    }
    .timeline::after{
      left:31px;
    }
    .timeline-container{
      width:100%;
      padding-left: 80px;
      padding-right: 25px;
    }
    .text-box{
      font-size: 13px;
    }
    .text-box small{
      margin-bottom: 10px;
    }
    .right-container{
      left: 0;
    }
    .left-container img, .right-container img{
      left:10px;
    }
    .left-container-arrow, .right-container-arrow{
      border-right: 15px solid #fff;
      border-left: 0;
      left:-15px;
    }
  }