
.font-bebasnav{
font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100;
}
.font-internav{
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-variant: normal;
}
.uni-color-green{
    color:#7ed956
}
.navbrand-logopic{
   width: 60px;
   transition: .5s;
   margin-top: -10px;

}
.navbrand-logo-color{
    color:white;
    font-size: 25px;
    transition: .5s;
}
.nav-link-edit{
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    transition: .5s;
    
}
.nav-link-edit:hover,
.nav-link-edit.active{
    color:#7ed956;
    
}
.mpHeadline{
    padding-top: 75px;
}
.topbg-home{
    background-image: url(images/jack-b-ombUn7ergE4-unsplash.jpg);
    background-size: cover;
    
}
header{
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    transition: 0.6s;
    position: 40px 100px;
    z-index:100000 ;
}
header.sticky{
    padding: 0px 80px;
    background: #fff
}
header.sticky ul li a{
    color: black ;
}
header.sticky a img{
   
width: 40px;
height: 40px;
margin-top: 0px;

}
header.sticky .navbrand-logo-color{
    font-size: 20px;
    color: black;
}
.button-hire{
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 22px ;
  background-color: #7ed956 ;
  color: white;
  border: none;
  border-radius:10px;
  letter-spacing: 3px;
  transition: .3s;
}
.button-hire:active{
  transform: scale(.92);
}
.button-hire:hover{
  opacity: 80%;
}
.pictureport{
    width: 530px;
    height: auto;
    display: inline;
    position: relative;
    transition: .2s;
    padding-top: 5px;
}
.pictureport:hover{
    transform: translateY(-5%) scale(1.1);
}
.circle-for-pic{
    position: relative;
    display: inline-block;
}
.circle-for-pic:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%; /* Align the half-circle to the center */
    width: 135% ; /* Adjust width to control the size of the circle */
    height: 125%; /* Adjust height to control the size of the circle */
    border-radius: 40%; /* Create a circle */
    background: url(images/bgimage.jpg) no-repeat center center;
    background-size: cover;
    filter: blur(2px) brightness(35%);
    clip-path: inset(0 0 20% 0); /* Only display the top half of the circle */
    transform: translateX(-50%); /* Center the half-circle horizontally */
    border: 10px solid rgba(0, 0, 0, .1); /* Transparent border */
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
.circle-for-pic:hover:before{
    opacity: 1; /* Show on hover */
    
}

.headlineh1-Text{
font-family: Inter;
  font-optical-sizing: auto;
  font-weight: bolder;
  color: white;
  font-size:50px;
  font-style: normal;
  letter-spacing: 1px;

}
.headlineh4-Text{
    font-family: Inter;
    color: white;
    letter-spacing: 4px;
    font-size: 15px;
    font-weight: 600;
}
.headlineh2-Text{
  color:white
}
.navbar-nav .open ul.dropdown-menu{ 
    border-radius:0px; 
    border:solid 1px red; 
    border-width:1px 0;
}
.nav-item hr{
    display: none;
}
.navbar{
    background-color:transparent;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030; /* Ensure it is above other content */
  }
  
  .sticky + .content {
    padding-top: 56px; /* Adjust for the height of the navbar */
  }

  .test{
    min-height: 100vh;
    display: flex;
    background:grey;
    align-items: center;
    justify-content: center;
  }


  .about-section{
    background: url(images/annie-spratt-0aF_vV0xgQk-unsplash.jpg) no-repeat center center;
    background-size: cover;
  }
  .about-head-container{
    padding-top: 80px;
  }
  .h1About{
    position: absolute;
    z-index: 0;
    font-size: 6vw;
    color: rgba(255, 255, 255, 0.15);
    font-family: Inter;
    font-weight: 900;

  }
  .h2About{

    color: white;
    font-size: 50px;
    font-family: Inter;
    font-weight: 700;
    z-index: 1;
  }


/* Mobile View */
@media (max-width: 992px) {
    .mpHeadline{
        padding-top:120px
    }
    .nav-item hr {
      display: block;
      border: 1px solid white;
      margin: 0.5rem 0; 
    }
    header.sticky .nav-item hr {
        display: block;
        border: 1px solid black;
        margin: 0.5rem 0;
      }
    .nav-link-edit{
        color: white;
        padding-bottom: 5px;
    }
      header.sticky ul li a{
        color: black ;
    }
    header{
        background:url(images/jack-b-ombUn7ergE4-unsplash.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        transition: .5s;
    }
    .custom-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(126, 217, 86, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      }
      
    .custom-toggler.navbar-toggler{
        border-color: #7ed956;
    }
    .mobile-center{
       /* need checking and testing */
    }
  }